html {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin: 2em;
    width: 400px;
}